@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-white;
  @apply bg-gray-950;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

html {
  overflow: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

button {
  @apply mr-4 rounded bg-blue-500 px-4 py-2 font-semibold text-white;
}

a {
  @apply underline underline-offset-4;
}

pre {
  @apply p-4;
  @apply rounded-lg;
  @apply overflow-x-auto;
  @apply border;
  @apply border-gray-800;
  background-color: black !important;
}

.markdown {
  @apply prose prose-invert;
}

/* 
@font-face {
  font-family: 'TibetanFont';
  src: url('/font/Qomolangma-Tsuring.ttf') format('truetype');
  font-display: swap;
}

.font-tibetan {
  font-family: 'TibetanFont', sans-serif;
} */


@font-face {
  font-family: 'TibetanFont';
  src: url('/font/Himalaya-D.ttf') format('truetype');
  /* font-display: swap; */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'tiebechat';
  src: url('/font/Qomolangma-UchenSarchen.ttf') format('truetype');  
  /* // TibetanUnicode */
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}